# pixi environments
.pixi/*
!.pixi/config.toml

# Configuration file, keeping your local path secure
config.yaml
*.ffs_gui

# Manual folder
manual_flexpde/

# output folders with modelling results
modelling/nozzlefiber/md*output/
modelling/wsf grondwaterstroming/*_output/

#output folders for data processing results
data/cores/
data/fluxes/
data/depths/    

# generated ATES artifacts (large/local)
*.pickle
!data/all_experiment_data.pickle
!data/WKO_K1_active3.pickle
data/*.png
