# pixi environments
.pixi/*
!.pixi/config.toml

# Configuration file, keeping your local path secure
config.yaml

# Manual folder
manual_flexpde/

# output folders with modelling results
modelling/nozzlefiber/md*output/
